<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            MENU
        </h3>
    </div>
    <div class="'panel-body">
        <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action list-group-item-info">回首頁</a>
        </div>
        <div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      交通管理
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <class="accordion-body">
                        <div class="list-group">
                            <a href="/" class="list-group-item list-group-item-action ">交通運量及疏運策略分析</a>
                            <a href="/event_record" class="list-group-item list-group-item-action ">事件處置流程紀錄</a>
                            <a href="" class="list-group-item list-group-item-action ">陳情案件</a>
                            <a href="" class="list-group-item list-group-item-action ">會勘紀錄</a>
                            <a href="" class="list-group-item list-group-item-action ">提交業主檔案</a>
                        </div>
                    
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      設備管理
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <class="accordion-body">
                        <div class="list-group">
                        <a href="http://localhost/calander/inspection/" class="list-group-item list-group-item-action ">機電巡查表</a>
                        <a href="/base_machine_select_form" class="list-group-item list-group-item-action ">機電巡檢紀錄</a>
                        <a href="" class="list-group-item list-group-item-action ">設備履歷與報修紀錄</a>
                        <a href="/create" class="list-group-item list-group-item-action ">廠商巡檢紀錄</a>
                        <a href="" class="list-group-item list-group-item-action ">設備每日盤點</a>
                      </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      人員管理
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <class="accordion-body">
                        <div class="list-group">
                            <a href="/172.168.1.87" class="list-group-item list-group-item-action ">教育訓練e-Learning</a>
                            <a href="" class="list-group-item list-group-item-action ">人員考核紀錄</a>
                            <a href="" class="list-group-item list-group-item-action ">演練紀錄</a>
                        </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFor">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        標案管理
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <class="accordion-body">
                        <div class="list-group">
                            <a href="/" class="list-group-item list-group-item-action ">小額採購</a>
                            <a href="http://google.com" class="list-group-item list-group-item-action ">公開招標</a>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>

</div>
